@page "/"
@inject IFeedClient Feed

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    protected override async Task OnInitializedAsync()
    {
        using var response = await Feed.GetTrendingsAsync();      
        if (!response.IsSuccessful)
        {
            return;
        }
    }
}